POSTGRES_DB=task_manager
POSTGRES_USER=task_manager_user
POSTGRES_PASSWORD=task_manager_password
POSTGRES_PORT=5433

BACKEND_PORT=3000
CORS_ORIGIN=http://localhost:5173

FRONTEND_PORT=5173
VITE_API_URL=http://localhost:3000