# Зависимости
node_modules/
__pycache__/
.venv/
venv/

# Переменные окружения
.env

# Логи
*.log
npm-debug.log*

# Сборка
dist/
build/

# Экспорт
tasks.csv

# Docker
postgres_data/

# IDE
.vscode/
.idea/